/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

.shadowed {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

:root {
  --main-color: rgb(0, 43, 68);
}
$base-color: dynamic(rgb(0, 43, 68));
$selected-color: dynamic(rgb(0, 0, 0));
$hover-color: dynamic(rgb(0, 69, 104));
$form-label-font-weight: 500;

@include treelist-ui(
  $ui: "navigation",
  $background-color: $base-color,
  $item-text-icon-gap: 20,
  $item-text-color: white,
  $item-text-over-color: white,
  $item-text-font-size: 18px,
  $item-icon-color: white,
  $row-indicator-selected-over-color: $hover-color,
  $row-over-background-color: $hover-color,
  $row-selected-background-color: $selected-color,
  $toolstrip-background-color: $base-color,
  $tool-selected-color: white,
  $tool-selected-background-color: $base-color,
  $tool-indicator-selected-color: $selected-color
);
