{<<"app">>,<<"jetstream">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,<<"A Jetstream client in pure elixir.">>}.
{<<"elixir">>,<<"~> 1.10">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/jetstream">>,<<"lib/jetstream/api">>,
  <<"lib/jetstream/api/util.ex">>,<<"lib/jetstream/api/stream.ex">>,
  <<"lib/jetstream/api/consumer.ex">>,<<"lib/jetstream/pull_consumer.ex">>,
  <<"lib/jetstream.ex">>,<<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/mmmries/jetstream">>}]}.
{<<"name">>,<<"jetstream">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"gnat">>},
   {<<"name">>,<<"gnat">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1">>}],
  [{<<"app">>,<<"jason">>},
   {<<"name">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 1.1">>}]]}.
{<<"version">>,<<"0.0.1-pre2">>}.
